/*font-family: 'Roboto Slab', serif;*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    z-index: -999;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
}

.header {
    background-color: rgba(235, 235, 235, .5);
    border-bottom: 2px solid #F36E21;
}

nav {
    position: relative;
    font-family: 'Raleway', sans-serif;
}

nav ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.menu li {
    position: relative;
    display: flex;
    justify-content: center;
}

.menu a {
    color: white;
}

.menu>li>a:hover {
    color: #F36E21;
}

.menu>li>a {
    display: inline-block;
    padding: 1.250em;
    margin-bottom: 0;
    color: white;
}

.changeColor {
    color: #F36E21 !important;
}

.dropdown {
    opacity: 0;
    position: absolute;
    overflow: auto;
    padding: 1em;
    top: -1.250em;
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateY(5.000em);
    transform: translateY(5.000em);
    will-change: opacity;
    display: none;
}

.trigger-enter .dropdown {
    display: block;
}

.trigger-enter-active .dropdown {
    opacity: 1;
}

.dropdownBackground {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: rgba(235, 235, 235, .5);
    border-top: 2px solid #F36E21;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 3.125em 6.250em rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 0.313em 0.938em rgba(0, 0, 0, .1);
    box-shadow: 0 3.125em 6.250em rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 0.313em 0.938em rgba(0, 0, 0, .1);
    -webkit-transition: all 0.15s, opacity 0.1s, -webkit-transform 0.1s;
    transition: all 0.15s, opacity 0.1s, -webkit-transform 0.1s;
    transition: all 0.15s, opacity 0.1s, transform 0.1s;
    transition: all 0.15s, opacity 0.1s, transform 0.1s, -webkit-transform 0.1s;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
    display: none;
}

.dropdown li a {
    padding: .5em 1em .5em .25em;
    width: 100%;
    border-left: 2px solid transparent;
}

.dropdown li a:hover {
    border-left: 2px solid #F36E21;
}

.open {
    opacity: 1;
    display: block;
}

.degrees-col1 {
    display: flex;
    justify-content: space-between;
}

.undergrad,
.grad {
    width: 47%;
}

.degrees li a {
    margin-top: .75em;
}

.degrees h3 {
    border-bottom: .5px solid white;
}


}
.minors {
    clear: both;
}
.resources {
    width: 12em;
}
.employment,
.people {
    width: 14em;
}
.logo {
    float: left;
}
