/*mainOrage: #F36E21*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 70%;
}

#particles-js {
  background-color: #323840;
  height: 30rem;
}

body {
  position: relative;
  max-width: 1920px;
  background-color: rgb(220, 220, 220);
}

a {
  text-decoration: none;
}

.header {
  background-color: white;
  border-bottom: 2px solid #F36E21;
  z-index: 999 !important;
  position: relative;
}

nav, .hero-title, .intro-title {
  font-family: 'Raleway', sans-serif;
}

nav {
  position: relative;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu a {
  color: #2d2d2d;
}

.menu>li>a:hover {
  color: #FF843C;
}

.menu>li>a {
  display: inline-block;
  padding: 1.250em;
  margin-bottom: 0;
  color: #2d2d2d;
}

.changeColor {
  color: #F36E21 !important;
}

.dropdown {
  opacity: 0;
  position: absolute;
  overflow: auto;
  padding: 1em;
  padding-top: 0;
  top: -1.350em;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(5.000em);
  transform: translateY(5.000em);
  will-change: opacity;
  display: none;
}

.trigger-enter .dropdown {
  display: block;
}

.trigger-enter-active .dropdown {
  opacity: 1;
}

.dropdownBackground {
  position: absolute;
  border: 2px solid #F36E21;
  border-top-color: white;
  background-color: white;
  border-radius: 0 0 4px 4px;
  -webkit-transition: all 0.15s, opacity 0.1s, -webkit-transform 0.17s;
  transition: all 0.15s, opacity 0.1s, -webkit-transform 0.17s;
  -webkit-transition: all 0.15s, opacity 0.1s, -webkit-transform 0.1s;
  transition: all 0.15s, opacity 0.1s, -webkit-transform 0.1s;
  transition: all 0.15s, opacity 0.1s, transform 0.1s;
  transition: all 0.15s, opacity 0.1s, transform 0.1s, -webkit-transform 0.1s;
  transition: all 0.15s, opacity 0.1s, transform 0.1s, -webkit-transform 0.17s;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  display: none;
}

.dropdown li a {
  padding: .5em 1em .5em .25em;
  width: 100%;
  border-left: 2px solid transparent;
}

.dropdown li a:hover {
  border-left: 2px solid #F36E21;
  color: black;
}

.open {
  opacity: 1;
  display: block;
}

.degrees-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: .5em;
  margin-bottom: 1em;
}

.undergrad, .grad {
  width: 47%;
}

.degrees li a {
  margin-top: .75em;
  font-size: .9em;
  padding-right: 2em;
}

.degrees h3 {
  border-bottom: .1px solid #9e9e9e;
  color: #F36E21;
  font-weight: 500;
}

.minors {
  clear: both;
}

.employment, .people, .resources {
  width: 14rem;
}

.logo {}

.search {}

.hero {
  position: absolute;
  width: 100%;
}

.hero-content {}

.hero-title {
  color: white;
  position: relative;
  /*top: 8rem*/
  top: 8rem;
  /*font-size: 1rem*/
  font-size: 1rem;
  left: 0;
  padding: 2rem;
  padding-left: 5rem;
  /*line-height: 3rem*/
  line-height: 3rem;
  background-color: rgba(255, 255, 255, .1);
  display: inline-block;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(45deg, #ff0, #f0f);
  border-image-slice: 1;
}

.hero-title span {
  color: #F36E21;
}

.intro {
  position: absolute;
  /*width: 60rem*/
  width: 60rem;
  padding: 1.5rem;
  /*font-size: 1.2rem*/
  font-size: 1.2rem;
  /*right: 10%*/
  right: 10%;
  top: 10rem;
  font-family: 'Roboto Slab', serif;
  background-color: rgba(255, 255, 255, .2);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
}

.intro-title {
  margin-bottom: .35rem;
  font-size: 2.2rem;
  color: white;
  weight: 300;
  display: block;
  padding: 1rem;
  text-align: center;
}

.intro-text {
  text-indent: 2em;
  padding-bottom: 2em;
  color: rgb(200, 200, 200);
  text-align: left;
}

.intro-title-container {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
}

.up, .down {
  position: absolute;
  width: 15px;
  height: 15px;
}

.up {
  top: 0;
  border-top: 2px solid #F36E21;
}

.down {
  bottom: 0;
  border-bottom: 2px solid #F36E21;
}

.left {
  left: 0;
  border-left: 2px solid #F36E21;
}

.right {
  right: 0;
  border-right: 2px solid #F36E21;
}

.quote {
  position: relative;
  padding: 2em 4em;
  text-indent: 2em;
}

.quote::before, .quote::after {
  color: #F36E21;
  content: '\f10d';
  font-family: 'FontAwesome';
  font-size: 3em;
  position: absolute;
  top: 30%;
  display: block;
}

.quote::after {
  content: '\f10e';
  right: .1em;
}

.quote::before {
  left: -.6em;
}

.quote-person {
  color: #F36E21;
  text-align: center;
  display: block;
}

.staff {}

.test {
  display: inline-block;
  width: 100px;
}

.arrow-down-container {
  position: absolute;
  left: 12rem;
  color: #F36E21;
  top: 23rem;
}

.arrow-down-text {
  font-size: 1rem;
}

.arrow-down::after {
  content: "";
  width: .7rem;
  height: .7rem;
  position: absolute;
  border-right: 2px solid rgb(200, 200, 200);
  border-bottom: 2px solid rgb(200, 200, 200);
  left: 4.7rem;
  transform: rotate(45deg);
  animation: 2.5s arrow infinite ease;
}

@keyframes arrow {
  0%, 100% {
    top: 20px;
  }
  50% {
    top: 30px;
  }
}

/*media queries*/

@media (min-width: 1700px) {
  html {
    font-size: 100%;
  }
  .hero-title {
    top: 8rem;
    font-size: 1rem;
    padding-left: 5rem;
    line-height: 3rem;
  }
  .intro {
    width: 60rem;
    font-size: 1.2rem;
    right: 10%;
  }
}
