/*mainOrage: #F36E21*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 70%;
}

nav, .hero-title, .intro-title, .degrees-container h2 {
  font-family: 'Raleway', sans-serif;
}

#particles-js {
  z-index: -999;
  height: 35rem;
  background-color: #323840;
}

body {
  position: relative;
  max-width: 1920px;
  background-color: #323840;
}

a {
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

ul {
  list-style: none;
}

input[type="text"], input[type="password"], textarea, select {
  outline: none;
}

.logo img {
  width: 70px;
}

.logo {
  position: absolute;
  padding: 1.250rem;
  left: 2rem;
}

.search-container {
  position: absolute;
  margin: 1rem;
  right: 2rem;
  top: 0;
}

.search {
  padding: .3rem;
  width: 10rem;
  border-radius: 3px;
  border: 1px solid rgb(155, 155, 155);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.search:focus {
  width: 15rem;
  border-bottom: 1.5px solid #F36E21;
  border-radius: 3px 3px 0 0;
}

.search-icon {
  position: absolute;
  right: 1rem;
  top: .55rem;
  color: rgb(155, 155, 155);
}

nav {
  position: relative;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header {
  background-color: white;
  border-bottom: 1px solid #F36E21;
  z-index: 999 !important;
  position: relative;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.75);
}

.menu {
  position: relative;
  right: 5rem;
}

.menu li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu a {
  color: #2d2d2d;
}

.menu>li>a:hover {
  color: #FF843C;
}

.menu>li>a {
  display: inline-block;
  padding: 1.250rem;
  color: #2d2d2d;
  font-size: 1.3rem;
}

.changeColor {
  color: #F36E21 !important;
}

.dropdown {
  opacity: 0;
  position: absolute;
  overflow: auto;
  padding: .7em;
  padding-top: .5em;
  top: -1rem;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(5.000em);
  transform: translateY(5.000em);
  will-change: opacity;
  display: none;
}

.trigger-enter .dropdown {
  display: block;
}

.trigger-enter-active .dropdown {
  opacity: 1;
}

.dropdownBackground {
  position: absolute;
  border: 2px solid #F36E21;
  border-top-color: white;
  background-color: white;
  border-radius: 0 0 4px 4px;
  -webkit-transition: all 0.15s, opacity 0.1s, -webkit-transform 0.17s;
  transition: all 0.15s, opacity 0.1s, -webkit-transform 0.17s;
  -webkit-transition: all 0.15s, opacity 0.1s, -webkit-transform 0.1s;
  transition: all 0.15s, opacity 0.1s, -webkit-transform 0.1s;
  transition: all 0.15s, opacity 0.1s, transform 0.1s;
  transition: all 0.15s, opacity 0.1s, transform 0.1s, -webkit-transform 0.1s;
  transition: all 0.15s, opacity 0.1s, transform 0.1s, -webkit-transform 0.17s;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  display: none;
}

.dropdown li a {
  padding: .5em 1em .5em .25em;
  width: 100%;
  border-left: 2px solid transparent;
  font-size: 1.2rem;
}

.dropdown li a:hover {
  border-left: 2px solid #F36E21;
  color: black;
}

.open {
  opacity: 1;
  display: block;
}

.degrees-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: .5em;
  margin-bottom: 1em;
}

.undergrad, .grad {
  width: 47%;
}

.degrees li a {
  margin-top: .75em;
  padding-right: 2em;
}

.degrees h3 {
  border-bottom: .1px solid #9e9e9e;
  color: #F36E21;
  font-weight: 500;
}

.minors {
  clear: both;
}

.employment, .people, .resources {
  width: 17rem;
}

/* hero stuff */

.hero {
  position: absolute;
  width: 100%;
}

.hero-content, .degrees-container {
  font-family: 'Roboto Slab', serif;
}

.hero-title {
  color: white;
  position: relative;
  top: 5rem;
  font-size: 1rem;
  left: 0;
  padding: 2rem;
  padding-left: 5rem;
  line-height: 3rem;
  background-color: rgba(255, 255, 255, .1);
  display: inline-block;
  border-bottom: 4px solid transparent;
  -o-border-image: linear-gradient(45deg, #ff0, #f0f);
  border-image: linear-gradient(45deg, #ff0, #f0f);
  border-image-slice: 1;
}

.hero-title span {
  color: #F36E21;
}

.intro {
  position: absolute;
  width: 60rem;
  padding: 1.5rem;
  font-size: 1.2rem;
  right: 10%;
  top: 5rem;
  background-color: rgba(255, 255, 255, .2);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  color: rgb(225, 225, 225);
}

.intro-title {
  margin-bottom: .35rem;
  font-size: 2.2rem;
  color: white;
  weight: 300;
  display: block;
  padding: 1rem;
  text-align: center;
}

.intro-text {
  text-indent: 2em;
  padding-bottom: 2em;
  text-align: left;
  font-size: 1.3rem;
}

.intro-title-container {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
}

.up, .down {
  position: absolute;
  width: 15px;
  height: 15px;
}

.up {
  top: 0;
  border-top: 2px solid #F36E21;
}

.down {
  bottom: 0;
  border-bottom: 2px solid #F36E21;
}

.left {
  left: 0;
  border-left: 2px solid #F36E21;
}

.right {
  right: 0;
  border-right: 2px solid #F36E21;
}

.quote {
  position: relative;
  padding: 2em 4em;
  text-indent: 2em;
}

.quote::before, .quote::after {
  color: #F36E21;
  content: '\f10d';
  font-family: 'FontAwesome';
  font-size: 3em;
  position: absolute;
  top: 30%;
  display: block;
}

.quote::after {
  content: '\f10e';
  right: .1em;
}

.quote::before {
  left: -.6em;
}

.quote-person {
  text-align: center;
  display: block;
}

.arrow-down-container {
  position: absolute;
  left: 10rem;
  color: white;
  top: 18rem;
  padding: .5rem;
  text-align: center;
  -webkit-animation: arrow 1.5s ease-in-out infinite;
  animation: arrow 1.5s ease-in-out infinite;
}

.arrow-down-text {
  font-size: 1.2rem;
  margin-bottom: .5em;
}

@-webkit-keyframes arrow {
  0% {
    top: 18rem;
  }
  50% {
    top: 19rem;
  }
}

@keyframes arrow {
  0% {
    top: 18rem;
  }
  50% {
    top: 19rem;
  }
}

/*DEGREES*/

.degrees-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: white;
  -webkit-box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.75);
  border-top: 1px solid #F36E21;
}

.degrees-title {
  font-size: 3rem;
  width: 100%;
  padding: .5rem;
  padding-right: 8rem;
  color: white;
  margin-top: -5rem;
}

.degrees-subtitle {
  font-size: 2rem;
  width: 90%;
  margin: auto;
  border-left: 5px solid #00B2B2;
  padding: .5rem;
  margin-bottom: 3rem;
  margin-top: 8rem;
  border-bottom: .5px solid rgb(100, 100, 100);
}

.to-the-right-to-the-right {
  text-align: right;
  border-right: 5px solid #00B2B2;
  border-left: none;
}

.degrees-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25rem;
}

.degrees-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  border-left: 2px solid #F36E21;
  transition: opacity .3s ease-in, flex .3s ease-in;
  background-color: white;
}

.degrees-content-active {
  flex: 1.4;
}

.degrees-content:first-of-type {
  border: none;
}

.degrees-content:hover {
  background-color: rgba(0, 0, 0, .4);
  cursor: pointer;
  cursor: hand;
}

/*Name of degree*/

.degrees-content h2 {
  margin-top: 3rem;
}

.degrees-content-description-span-inactive {
  opacity: 0;
}

/*Degree description*/

.degrees-content p {
  font-size: 1.3rem;
  width: 30rem;
  position: absolute;
  top: 7rem;
  transition: opacity .5s;
}

/*"Click to find out more"*/

.degrees-content span {
  position: absolute;
  bottom: 3rem;
  transition: opacity .5s;
}

/*the word "concentrations"*/

.degrees-content h3 {
  margin-top: 1rem;
  opacity: 0;
  transition: opacity .5s;
}

.degrees-content-open {
  opacity: 1 !important;
}

/*List of degree concentrations*/

.degrees-content ul {
  opacity: 0;
  transition: opacity .5s;
  margin-top: 1rem;
}

.degrees-content ul li {
  margin-bottom: .2rem;
}

/*media queries*/

@media (min-width: 1700px) {
  html {
    font-size: 100%;
  }
  .hero-title {
    top: 8rem;
    font-size: 1rem;
    padding-left: 5rem;
    line-height: 3rem;
  }
  .intro {
    width: 60rem;
    font-size: 1.2rem;
    right: 10%;
  }
}
